<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="main.css">
		<title>Favorites Manager</title>

		<link rel="stylesheet" type="text/css" href="main.css">

		<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
	</head>
	<body id="body">
		<header>
			<!-- <label for="search">🔍</label> -->
			<input type="text" id="search" name="search" placeholder="dogs">
			<input type="button" id="searchButton" value="🔍">
		</header>
		<main>
			<p v-if="searchInput && filteredMedia.length==0">No results found</p>
			<p v-else-if="filteredMedia.length==0">Type comma-separated tags into the search bar to see matching videos here</p>
			<a v-for="media in filteredMedia" :href="media.url ? media.url : `liked/${media.id}`" target="_blank">
				<img v-if="media.platform==='tiktok'" :src="`liked/${media.id}.jpg`" :title="media.tags.join()">
				<img v-else-if="media.platform==='twitter'" :src="`liked/${media.id}`" :title="media.tags.join()">
				<img v-else src="error.jpg">
			</a>
		</main>

		<script>
			const { createApp } = Vue

			createApp({
				data() {
					// Get list of liked media and tags
					fetch('https://favorites-manager.github.io/liked_vids.json')
						.then(response => response.json())
						.then(jsonData => {
							this.likedMedia = jsonData
						})

					return {
						searchInput: '',
						likedMedia: []
					}
				},
				mounted() {
					document.getElementById('searchButton').addEventListener('click', () => {
						this.searchInput = document.getElementById('search').value
					})
					document.getElementById('search').addEventListener('keyup', (e) => {
						if (e.keyCode === 13) {
							this.searchInput = document.getElementById('search').value
						}
					})
				},
				computed: {
					// Filter all liked media using search input tags
					filteredMedia() {
						let selectedMedia = []
						let scores = []
						let searchWords = this.searchInput.split(',').map(word => word.toLowerCase().trim())
						searchWords = searchWords.filter(item => item !== '')
						if (searchWords.length > 0) {
							if (searchWords[0].length > 0) {
								
								// For each liked media
								for (let media of this.likedMedia) {

									// Count the number of associated tags that match search terms
									let numMatches = 0
									for (let keyword of searchWords) {
										for (let tag of media.tags.map(word => word.toLowerCase().trim())) {
											if (tag.includes(keyword)) {
												numMatches++
												break
											}
										}
									}

									// Record the media as matching and the number of matched tags as the "score"
									if (numMatches > 0) {
										// media.score = numMatches
										selectedMedia.push(media)
										scores.push(numMatches)
									}
								}
							}

							// Sort the selected media using their scores
							let indexedScores = scores.map((value, index) => [value, index])
							indexedScores.sort((a, b) => b[0] - a[0])
							let sortedScoresIndices = indexedScores.map(item => item[1])
							return sortedScoresIndices.map(index => selectedMedia[index])
						}
						return []
					}
				}
			}).mount('#body')
		</script>
	</body>
</html>