main {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 4px;
}

header {
	margin: 0.1cm;
}

header label {
	margin-right: 0.5em;
}

a {
	max-width: calc(100% / 3 - 3px);
}

.item {
	width: 3cm;
	max-height: 5.33cm;
	max-width: 100%;
	text-align: center;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}
}