main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

header {
    margin: 4px;
}

header label {
    margin-right: 0.5em;
}

main img {
    width: 3cm;
    margin: 2px;
}