main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

header {
    margin: 4px;
}

header label {
    margin-right: 0.5em;
}

.item {
    width: 3cm;
    margin: 2px;
    max-height: 5.33cm;
    text-align: center;
}